# SPDX-FileCopyrightText: none
# SPDX-License-Identifier: CC0-1.0

.vscode/
# kdevelop
.kdev4/
silly-game.kdev4
.kateproject.build

.cache/
build*/
install*/
dist/
compile_commands.json
Testing/

_deps/

node_modules/
*wasm-build*

# temp files ending with ~
*~
